:root {
	--color0: #0d0819;
	--color1: #5C55A4;
	--color2: #5845B5;
	--color3: #6B5AA6;
	--color4: #9C27A1;
	--color5: #B02EC1;
	--color6: #EC1DDD;
	--color7: #ed9fee;
	--color8: #a56fa6;
	--color9: #5C55A4;
	--color10: #5845B5;
	--color11: #6B5AA6;
	--color12: #9C27A1;
	--color13: #B02EC1;
	--color14: #EC1DDD;
	--color15: #ed9fee;
	--color16: #0d0819;
}